.proveedores {
  background-color: green; }

.proveedores--letra {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif; }

.testimonio {
  background-color: pink; }

.tertimonio--letra {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 50px; }

.contenedor {
  display: flex;
  allign-items: center;
  padding: 125px 250px; }

.contenedor .item, .contenedor .item--nueva {
  width: 100px;
  height: 62.5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 50px; }

p {
  color: pink; }

.item--nueva {
  background-color: lightgreen; }

h1 {
  color: pink;
  font-size: 40px; }

.gridP {
  display: grid;
  grid-area: "head head" "menu menu" "main main"; }

.s {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif;
  background-color: #ccc;
  font-size: 50px; }

.j {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif;
  background-color: pink;
  font-size: 50px; }

.f {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif;
  background-color: green;
  font-size: 50px; }

ul {
  list-style: none; }
  ul li {
    padding: 15px;
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 16px;
      color: #444; }
