@import "estructura";
@import "colores";

.gridP{
	display: grid;
	grid-area: "head head""menu menu""main main"
}

.s{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto Slab', serif;
	background-color: #ccc;
	font-size: 50px;
}

.j{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto Slab', serif;
	background-color: pink;
	font-size: 50px;
}

.f{
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto Slab', serif;
	background-color: green;
	font-size: 50px;
}

ul {
 list-style: none;
 	 li {
   		padding: 15px;
   		display: inline-block;
  	       a {
    		     text-decoration: none;
   	                 font-size: 16px;
    		     color: #444;
   	      }
             }
}
